<div class="center">
  <div class="header"><img src="/images/logo.png" width="251" height="92" align="left"/>

    <div class="navbar"></div>

  </div>
  <h1>Music Catalogue</h1>

  <p id="notice"><%= notice %></p>
  <% form_tag musics_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search_query, params[:search_query] %>
        <%#select(:format, :search_select, WelcomeController::FORMATS) %>
        <%= submit_tag "Search", :release => nil, :artist => nil, :format => nil %>
      </p>
  <% end %>

  <table>
    <tr style="text-align: left;">
      <th style="width:160px;">Release</th>
      <th style="width:190px;">Artist</th>
      <th style="width:120px;">Genre</th>
      <th style="width:100px;">Format</th>
      <th style="width:120px;">Date</th>
      <th style="width:120px;">Price</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @musics.each do |music| %>
        <tr>
          <td><%= music.release %></td>
          <td><%= music.artist %></td>
          <td><%= music.genre %></td>
          <td><%= music.format %></td>
          <td><%= music.date %></td>
          <td><%= number_to_currency(music.price, :unit => '&euro;') %><%# music.price %></td>
          <td><%= link_to 'Show', music %></td>

          <!--Admin Alternative 4 Jan-->
          <% if logged_in? && current_user.email == "admin@rs.com" %>
              <td><%= link_to 'Edit', edit_music_path(music) %></td>
              <td><%= link_to 'Destroy', music, :confirm => 'Are you sure?', :method => :delete %></td>


          <% end %>
          <% if logged_in? %>
              <td><%= button_to 'Add to Cart', line_items_path(:music_id => music) %></td>
          <% end %>


        </tr>


    <% end %>
  </table>

  <br/>
  <% if !logged_in? %>
      <p>You are not logged in.<br/>
        Please <%= link_to "Login", login_path %> or <%= link_to "Sign Up", new_user_path %> to purchase music.</p>
  <% end %>
  <% if logged_in? && current_user.email == "admin@rs.com" %>
    <%= link_to 'New Music', new_music_path %>
  <% end %>
  <div class="footer"></div>
</div>
