<!DOCTYPE html>
<html>
<head>
  <title>RareSounds</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="navbar">
<%= link_to "Home", :controller => "welcome", :action => "home"  %>
 | <%= link_to "Music", musics_path %>

  <% if logged_in? %>
     | You are logged in as: <%= current_user.email %>
    <%#link_to "Sign Up", :controller =>  "welcome", :action => "sign_up" %>

   | <%= link_to "Logout", logout_path %>
      <% else %>
     | <%= link_to "Login", login_path %>
       | <%= link_to "Sign Up", new_user_path %>
      <% end %>
 </div>

<%= yield %>

</body>
</html>